.header {
  background-color: yellow;
  color: aqua;
  font-size: 3em;
  text-align: center
}
#character-search-left {
  /* float: left; */
}
#character-search-right {
  /* float: right */
}
.character-search-container {
  margin: auto;
  display: flex;
  align-content: center;
}