.header {
  background-color: yellow;
  color: aqua;
  font-size: 3em;
  text-align: center
}
#character-search-left {
  /* float: left; */
}
#character-search-right {
  /* float: right */
}
.character-search-container {
  margin: auto;
  display: flex;
  align-content: center;
}
.stage-list {
  display: flex;
}
.stage-card-container {
  padding: 0.5em;
  flex-wrap: wrap
}
.stage-card-border {
  border-radius: 1em;
  padding: 1em;
  background-color: gray;
}
.stage-title {
  text-align: center;
  padding-bottom: 1em
}
.stage-image {
  width: 20em;
  display: block;
  margin-left: auto;
  margin-right: auto
}